<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="{% static 'css/style.css'%}" />
</head>
<body>
    <div class ="navbar">
        <img width="100px" src="{% static 'images/logo/logo.png' %}"/>
        <h1>Frosty Delights</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Who We Are ?</a></li>
        <li class="nav-item"><a class="nav-link" href="#">What We Do?</a></li>
        <li class="nav-item"><a class="nav-link" href="#">FAQ'S</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'log-in' %}">login</a></li>
    </ul>
    </div>

    <hr/>

    <section class="sec-1">
        <div class="cat">
            <h1>Primium Ice-Creams</h1>
        </div>
        <div class="item-block">
            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>


            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img width="200px" src="https://static.vecteezy.com/system/resources/previews/044/570/850/non_2x/chocolate-ice-cream-cone-with-dynamic-splash-against-transparent-background-png.png" alt="">
                </div>
                <div class="card-des">
                    Primium ice cream
                </div>
                <div class="card-price">
                    Rs.150
                </div>
            </div>
        </div>
    </section>


    <section class="sec-2">
        <div class="cat">
            <h1>Indian Original Teste</h1>
        </div>
    </section>
</body>
</html>